.gradient-custom {
  width: 100%;
  height: auto;
  background-image: url(https://wallpapercave.com/wp/wp8266288.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}
label#msenha {
  text-overflow: ellipsis;
  font-size: 9pt;
  text-align: right;
}
.form-label {
  margin-bottom: 1rem;
}
label#tst {
  text-overflow: ellipsis;
  font-size: 10.5pt;
  text-align: right;
}